<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hangduo.dev1.dao.LawDao">

    <select id="getLaws" parameterType="int" resultMap="law">
        select * from laws order by law_num
    </select>

    <select id="getLawByAlias" parameterType="java.lang.String" resultMap="law">
        select * from laws where law_alias=#{alias}
    </select>

    <!--<select id="getLawSearch" resultMap="law">
        select * from laws
        <where>
            <if test='title!="x"'>
                law_title like concat('%',#{title},'%')
            </if>
            <if test='lawNum!="0"'>
                and law_num=#{lawNum}
            </if>
        </where>
    </select>-->

    <select id="getHeadCatalogs" parameterType="java.lang.String" resultMap="catalog">
        select * from catalogs where c_level=0  <if test="lawAlias!='请选择'">and law_alias=#{lawAlias}</if>  order by c_index
    </select>


    <select id="getNextLevelCatalogs" parameterType="int" resultMap="catalog">
        select * from catalogs where sup_cid=#{cid} order by c_index
    </select>

    <select id="getItem" parameterType="int" resultMap="item">
        select * from items where iid=#{iid}
    </select>

    <select id="getItems" parameterType="java.lang.String" resultMap="item">
        SELECT * from items i JOIN laws l ON i.law_alias=l.law_alias
        <where>
            <if test='lawAlias!="请选择"'>
                i.law_alias=#{lawAlias}
            </if>
        </where>
        order by i_num
    </select>

<!--    <select id="getItemsMuti"  resultMap="item">
        select * from items i join laws l on i.law_alias=l.law_alias
        <where>
            <if test='lawAlias!="请选择"'>
                i.law_alias=#{lawAlias}
            </if>
            <if test='itemNum!="0" or keywords!="x"'>
                and (i.i_num=#{itemNum} or i.keywords like concat('%',#{keywords},'%'))
            </if>
        </where>
        order by i_num
    </select>-->

    <select id="getItemsMuti"  resultMap="item">
        select * from items i join laws l on i.law_alias=l.law_alias
        <where>
            <if test='lawAlias!="请选择"'>
                i.law_alias=#{lawAlias}
            </if>
            <if test='itemNum!="0"'>
                and i.i_num=#{itemNum}
            </if>
            <if test='keywords!="x"'>
                and i.keywords like concat('%',#{keywords},'%')
            </if>
        </where>
        order by i_num
    </select>

    <insert id="addLaw" parameterType="com.hangduo.dev1.entity.Law">
        insert into laws values (#{lawAlias},#{lawNum},#{lawVersion},#{lawTitle},'loading.gif',#{lawPDFTitle},#{lawDownloadLink},#{lawDescription},#{showStatus})
    </insert>

    <insert id="addItem" parameterType="com.hangduo.dev1.entity.Item">
        insert into `items`(cid,law_alias,i_num,i_alias,i_content,i_title,i_version,keywords)
        values (#{cid},#{lawAlias},#{itemNum},#{itemAlias},#{itemContent},#{itemTitle},#{version},#{keywords})
    </insert>

    <select id="getCatalogByCid" parameterType="int" resultMap="catalog">
        select * from catalogs where cid=#{cid}
    </select>

    <insert id="addCatalog" parameterType="com.hangduo.dev1.entity.Catalog">
        insert into catalogs(law_alias,c_content,c_level,sup_cid,c_index)  values (#{lawAlias},#{catalogContent},#{cLevel},#{supCid},#{cIndex})
    </insert>


    <delete id="delLaw">
        DELETE l,c,i
        FROM laws l
        LEFT OUTER JOIN catalogs c
        ON l.law_alias = c.law_alias
        LEFT OUTER JOIN items i
        ON c.law_alias = i.law_alias
        WHERE l.law_alias=#{lawAlias};
    </delete>

    <delete id="delCatalog" parameterType="int">
        DELETE c,i
        FROM  catalogs c
        LEFT OUTER JOIN items i
        ON c.cid = i.cid
        WHERE c.cid=#{cid};
    </delete>

    <delete id="delItem" parameterType="int">
        delete from items where iid=#{iid}
    </delete>

    <update id="updLaw" parameterType="com.hangduo.dev1.entity.Law">
        update laws set law_num=#{lawNum},law_title=#{lawTitle},law_version=#{lawVersion},law_pdf_title=#{lawPDFTitle},law_dl_link=#{lawDownloadLink},law_description=#{lawDescription},show_status=#{showStatus} where law_alias=#{lawAlias}
    </update>

    <select id="getItemFromCatalog" parameterType="int" resultMap="item">
        select * from items where cid=#{cid} order by i_num
    </select>

    <update id="updItem" parameterType="com.hangduo.dev1.entity.Item">
        update items set i_num=#{itemNum},law_alias=#{lawAlias},i_alias=#{itemAlias},i_title=#{itemTitle},i_content=#{itemContent},i_version=#{version},keywords=#{keywords} where iid=#{iid}
    </update>

    <select id="getLawSearch" resultMap="law">
        select * from laws
        <where>
            <if test='title!="x"'>law_title like concat('%',#{title},'%')</if>
            <if test='lawNum!="0"'> and law_num=#{lawNum}</if>
        </where>
    </select>

    <resultMap id="law" type="com.hangduo.dev1.entity.Law">
        <id column="law_alias" property="lawAlias"></id>
        <result column="law_num" property="lawNum"></result>
        <result column="law_title" property="lawTitle"></result>
        <result column="law_version" property="lawVersion"></result>
        <result column="law_logo_url" property="lawLogoUrl"></result>
        <result column="law_pdf_title" property="lawPDFTitle"></result>
        <result column="law_dl_link" property="lawDownloadLink"></result>
        <result column="law_description" property="lawDescription"></result>
        <result column="show_status" property="showStatus"></result>

    </resultMap>

    <resultMap id="catalog" type="com.hangduo.dev1.entity.Catalog">
        <id column="cid" property="cid"></id>
        <result column="law_alias" property="lawAlias"></result>
        <result column="c_content" property="catalogContent"></result>
        <result column="c_level" property="cLevel"></result>
        <result column="sup_cid" property="supCid"></result>
        <result column="c_index" property="cIndex"></result>
    </resultMap>

    <resultMap id="item" type="com.hangduo.dev1.entity.Item">
        <id column="iid" property="iid"></id>
        <result column="cid" property="cid"></result>
        <result column="i_num" property="itemNum"></result>
        <result column="law_alias" property="lawAlias"></result>
        <result column="i_alias" property="itemAlias"></result>
        <result column="i_title" property="itemTitle"></result>
        <result column="i_content" property="itemContent"></result>
        <result column="i_version" property="version"></result>
        <result column="keywords" property="keywords"></result>
    </resultMap>

</mapper>