<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hangduo.dev1.dao.UserDao">

    <select id="getUserByUid" parameterType="int" resultMap="user">
        select * from users where uid=#{uid}
    </select>

    <select id="getUsers" resultMap="user">
        select * from users where `status`=1 order by uid
    </select>

    <select id="getUsersByPhone" parameterType="java.lang.String" resultMap="user">
        select * from users where user_phone like concat('%',#{phone},'%')
    </select>

    <select id="getUserByPhone" parameterType="java.lang.String" resultMap="user">
        select * from users where user_phone like concat('%',#{phone},'%')
    </select>

    <select id="getUserByPhonea" parameterType="java.lang.String" resultMap="user">
    select * from users where user_phone like concat('%',#{phone},'%')
    </select>

    <update id="updUser">
UPDATE hangduoTest.users
	SET
	uid =#{uid},
	user_name =#{userName},
	user_phone =#{userPhone},
	user_sex =#{userSex},
	reg_date =#{regDate},
	password =#{password},
	user_type =#{userType},
	status =#{status},

	WHERE
	uid =#{uid} ;
    </update>

    <resultMap id="user" type="com.hangduo.dev1.entity.User">
        <id column="uid" property="uid"></id>
        <result column="user_name" property="userName"></result>
        <result column="user_phone" property="userPhone"></result>
        <result column="user_sex" property="userSex"></result>
        <result column="user_type" property="userType"></result>
        <result column="reg_date" property="regDate"></result>
        <result column="password" property="password"></result>
        <result column="status" property="status"></result>
    </resultMap>

</mapper>